@import '../../utilities/variables';
@import '../../utilities/mixins';

.character-view {
  @include display(column, none, center);
  height: auto;
}

.view-header {
  @include font($coal, 2vw, auto);
  @include space(2vw 0 0 0, 1vh 3vw);
  @include border(4px, $blue, 5px);
  background-color: $white;
}
.char-bio-area {
  @include display(row, none, center);
  @include size(70%, 55vh);
  @include space(2vw 0 0 0, 1vh 3vw);
  @include border(2px, $white, 0);
  background-color: $blue;
}

.char-info {
  @include font($white, 1.5vw, auto);
  @include size(55%, 90%);

}

.image-div-char {
  @include size(40%, 90%);
  @include display(row, center, center);
  margin: 2vh;
  display: inline;
}

.image-char {
  max-height: 100%;
  object-fit: contain;
  display: inline;
  max-width: 100%;
  border: 1px solid $white;
}
