@import '../../utilities/variables';
@import '../../utilities/mixins';

.result-view {
  @include display(column, none, center);
}

.view-header {
  @include font($coal, 2vw, auto);
  @include space(2vw 0 0 0, 1vh 3vw);
  @include border(4px, $blue, 5px);
  background-color: $white;
}

.result-container {
  width: 100%;
  height: auto;
  @include display(row, space-between, none);
  flex-wrap: wrap;
  background-color: $gray;
}

.loading {
  @include font($white, 1.5vw, auto);
  @include space(2vw 0 0 0, 3vh 4vw);
  @include border(4px, $white, 5px);
  background-color: $blue;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  div.result-container {
    @include display(column, space-between, center);
  }
}
