@import '../../utilities/variables';
@import '../../utilities/mixins';

.result-card {
  @include display(column, space-between, center);
  @include size(21vw, 60vh);
  @include space(1.75vw, 1vh);
  @include border(2px, $white, 0);
  @include font($white, auto, auto);
  background-color: $blue;
}

.top-half {
  @include size(95%, 25%);
  @include display(row, space-between, center);
  border-bottom: 1px solid $white;
  padding-bottom: 1vh;
}

.name-div {
  @include size(70%, 100%);
  @include display(column, space-between, flex-start);

}

h4 {
  margin: 1vh 0;
  height: 55%;
  font-size: 3.5vh;
  overflow-x: scroll;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}

.real-name {
  font-size: 2.75vh;
  height: 3.75vh;
  margin: 0;
  overflow: auto;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
}
// * {
//   border: 1px solid red;
// }
.button-div {
  @include size(25%, 80%);
  @include display(row, space-between, center);

}

.i-button {
  @include size(100%, 100%);
  @include space(0, 0);
}

.plus-button {
  @include size(40%, 33%);
  @include space(0, 0);
  &:hover {
    color: $green;
    @include size(45%, 37%);
  }
}

.button-link {
  @include size(40%, 33%);
  @include space(0, 0);
  color: $white;
  outline: none;
  &:hover {
    color: $green;
    @include size(45%, 37%);
  }
}

.image-div {
  height: 65%;
  margin: 2vh;
  max-width: 90%;
  display: inline;
  @include display(row, space-between, center);

}

.image {
  max-height: 100%;
  object-fit: contain;
  display: inline;
  max-width: 100%;
  border: 1px solid $white;
}
