@import '../../utilities/variables';
@import '../../utilities/mixins';

.search-view {
  @include display(column, center, center);
  width: 100%;
}

.character-area {
  @include display(column, center, center);
}

.view-header-char {
  @include font($coal, 2vw, auto);
  @include space(1vw 0 0 0, 1vh 3vw);
  @include size(auto, auto);
  @include border(4px, $blue, 5px);
  background-color: $white;
}

.view-subheader {
  @include font($coal, 1.5vw, normal);
}

.search-area {
  @include display(column, none, center);
  @include size(70%, 35vh);
  @include border(2px, $white, 0);
  background-color: $blue;
}

.search-instructions {
  @include font($white, 1.35vw, normal);
  @include size(50%, 20%);
  @include space(3vw 0 0 0, 1vh 3vw);
  text-align: center;
}
.search-input {
  @include size(70%, 10%);
  @include space(.5vh, 1vh 1vw);
  @include font($coal, 1.5vw, auto);
  outline: none;
}

.submit-search-link {
  @include font($white, 1.35vw, normal);
  @include size(15%, 15%);
  @include space(1vh, 0);
  @include border(1px, $white, 5px);
  @include display(column, center, center);
  text-decoration: none;
  background-color: $green;
  outline: none;
  &:hover {
    font-weight: bold;
    @include border(3px, $white, 5px);
  }
}

.disabled-link {
  pointer-events: none;
  @include font($coal, 1.35vw, normal);
  @include size(15%, 15%);
  @include space(1vh, 0);
  @include border(1px, $coal, 5px);
  @include display(column, center, center);
  text-decoration: none;
  background-color: $gray;
  outline: none;
}

@media screen and (max-width: 1025px) {
  .search-area {
    @include size(70%, 55vh);
  }
}

@media screen and (max-width: 415px) {
  .search-area {
    @include size(70%, 30vh);
  }
}
